@import './vatiables.module.scss';

@mixin btn () {
  width: 150px;
  height: 50px;
  background-color: gray;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin nav {
  content: '';
  width: 80%;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 10%;
  bottom: -10px;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;

}