.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  background-color: rgb(133, 151, 133);
}

@media (max-width: 750px) {
  .header {
    justify-content: center;
  }
}