@import '../styles/sass/mixins.module.scss';
@import '../styles/sass/variables.module.scss';


.contacts {
  min-height: 70vh;
  background-color: #111;
  padding: 100px 0;
  @media (max-width: 640px) {
    min-height: 50vh;
    padding-bottom: 50px;
  }
}

.input, .area, .btn {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.input, .area {
  background: #232223;
  color: $mainColor;
  border-radius: 5px;
  padding: 10px;
}


.contacts_container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.success{
  position: absolute;
  width: 70px;
  background-color: rgb(255, 255, 255);
  height: 25px;
  top: -25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: 700;
  opacity: 1;
  letter-spacing: 1px;
  transition: 0.3s;
  cursor: pointer;
  color: black;
  padding: 5px;
}

.success_active{
  transition: 0.3s;
  opacity: 0;
}

// .success:hover{
//   font-size: 0;
//   transition: 0.3s;

// }


// .success:hover:before, .success:hover:after {
//   position: absolute;
//   left: 50%;
//   content: ' ';
//   height: 25px;
//   width: 2px;
//   background-color: rgb(0, 0, 0);
//   transition: 0.3s;

// }
// .success:before {
//   transform: rotate(45deg);
//   transition: 0.3s;

// }
// .success:after {
//   transform: rotate(-45deg);
//   transition: 0.3s;

// }




.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  min-height: 200px;
  box-sizing: border-box;
  @media (max-width: 670px) {
    width: 100%;
  }
  @media (max-width: 640px) {
    margin-top: 20px;
    width: 100%;
  }
}

.input {
  min-height: 30px;
  outline: none;
  margin-top: 10px;
}

.area {
  width: 100%;
  min-height: 100px;
  resize: none;
  outline: none;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 1rem;
  color: rgb(255, 255, 255)
}

.btn{
  padding: 10px 30px;
  border: 1px solid $mainColor;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  animation-delay: 1.2s;
  overflow: hidden;
  cursor: pointer;
  margin: 0;
  background: #1c1c1c;
  border-color: #1c1c1c;
  color: $mainColor;
  border-radius: 5px;
  transition: .3s;
  &:hover{
    background-color: $mainColor;
    color: #1c1c1c;
  }
}

.btn:disabled{
  background-color: #1c1c1c;
  opacity: 0.3
}

.btn:disabled:hover{
  background-color: #1c1c1c;
  color: $mainColor;
}




.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
  & .path {
    stroke: rgb(255, 255, 255);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

