.contacts {
  min-height: 100vh;
  background-color: rgb(51, 146, 114);
  padding-top: 50px;
}


.contacts_container {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid;
  width: 600px;
  min-height: 200px;
  box-sizing: border-box
}

.input {
  min-height: 30px;
  outline: none;
  background-color: rgb(185, 183, 183);
  border: none;
  margin-top: 10px;
}

.area {
  width: 100%;
  min-height: 100px;
  resize: none;
  outline: none;
  background-color: rgb(185, 183, 183);
  border: none;
  box-sizing: border-box;
  margin-top: 10px;
}

.btn_contacts {
  margin-top: 50px;
}

.title {
  text-align: center;
  background-color:rgb(98, 101, 104);
}

@media (max-width: 750px) {
  .form {
    width: 100%;
  }
}