.skill {
  align-items: center;
  width: 300px;
  min-height: 300px;
}

.logo {
  padding: 5px;
  fill: red;
}


.img {
  width: 60px;
  height: 60px;
  font-size: 60px;
  background-color: #9a9a9a;
  padding: 1px;
  fill: red;
}

.title{
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 20px;
}

.description{
  font-size: 14px;
  font-weight: 500;
  color: #9a9a9a;
  line-height: 1.6;
  word-spacing: 1px;
  margin-top: 20px;
}