.container {
  height: 100%;
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid
}

/* @media (max-width: 1000px){
    .container {
      width: 80%;
  }
} */

@media (max-width: 1230px){
    .container {
      width: 90%;
  }
}

@media (max-width: 768px){
  .container {
    flex-wrap: wrap;
}
}


@media (max-width: 600px){
    .container {
      width: 90%;
  }
}
