@import '../../styles/sass/mixins.module.scss';
@import '../../styles/sass/variables.module.scss';

.job {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 5px solid;
  width: 300px;
  min-height: 350px;
  margin-top: 50px;
  position: relative;
  overflow:hidden;
  .img{
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
    position: relative;
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0C0C0C;
    color: $secondaryTextColor;
    opacity: 0;
    transition: all .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      opacity: 1;
    }
    &:hover .wrapper .title, &:hover .wrapper .description{
      transform: translateY(0);
    }
    .wrapper {
      text-align: center;
      max-width: 100%;
      color: $mainColor;
      .title{
        font-weight: 600;
        margin-bottom: 5px;
        transform: translateY(-10px);
        transition: all .5s;
        font-size: 18px;
      }
      .description{
        font-size: 14px;
        font-weight: 500;
        color: $textColor;
        line-height: 1.6;
        word-spacing: 1px;
        margin: 0;
        width: 100%;
        transform: translateY(10px);
        transition: all .5s;
        margin-top: 20px;
      }
    }
    .btn{
      position: absolute;
      cursor: pointer;
      font-size: 20px;
      position: absolute;
      bottom: 15px;
      background:$mainColor;
      padding: 10px;
      font-weight: 500;
      a {
        color:$secondaryTextColor;;
      }
    }
  }
}




