
.btn_jobs {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.btn_jobs_filter{
  padding: 9px 25px;
  margin: 0 5px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px dashed #555;
  cursor: pointer;
}

.btn_jobs_filter.active{
  background: #1c1c1c;
  color: #fff;
  -webkit-box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 10px 30px -4px rgba(0, 0, 0, 0.2);
}