.jobs {
  min-height: 100vh;
  background: #0C0C0C;
  padding: 100px 0;
}

.jobs_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.jobs_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  border: 1px solid;
  flex-wrap: wrap;
  margin-top: 30px;
}

.wrapper_btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin-top: 80px;
}


.title {
  background-color:rgb(71, 85, 76);
}

@media (max-width: 1130px) {
  .jobs_wrapper {
    justify-content: center;
  }
}