.jobs {
  min-height: 100vh;
  background-color: rgb(71, 128, 93);
  padding-top: 50px;
}

.jobs_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.jobs_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  border: 1px solid;
  flex-wrap: wrap;
}

.title {
  background-color:rgb(71, 85, 76);
}

@media (max-width: 1130px) {
  .jobs_wrapper {
    justify-content: center;
  }
}