.jobs {
  background: #0C0C0C;
  padding: 100px 0;
  transition: 0.5s;
  position: relative;
  min-height: 1150px;
}

.jobs_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: 0.5s;
  position: relative;
}

.jobs_wrapper {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  transition: 0.5s;
  @media (max-width: 1130px) {
    justify-content: center;
  }
}

.wrapper_btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin-top: 80px;
}


.title {
  background-color:rgb(71, 85, 76);
}


.settings{
  position: relative;
  margin-top: 100px;
}

.settings span{
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
}

.right{
  border-bottom: 100px solid #111;
  border-left: 70vw solid transparent;
  right: 0;
}

.left{
  border-bottom: 100px solid #111;
  border-right: 30vw solid transparent;
  left: 0;
}

.btn_jobs {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.btn_jobs_filter{
  padding: 9px 25px;
  margin: 0 5px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px dashed #555;
  cursor: pointer;
}

.btn_jobs_filter_active{
  background: #222;
}
