.mainBlock {
  min-height: 100vh;
  background-color: rgb(172, 168, 168);
}


.text {
  width: 300px;
  background-color:rgb(97, 96, 96);
  margin-bottom: 10px;
}

.photo {
  width: 300px;
  height: 400px;
  background-color:rgb(182, 174, 71)
}

.main_container {
  justify-content: space-around;
}

