.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  right: 61px;
  top: 0;
  // background: #222;
  z-index: 9;
  min-height: 80px;
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 350px;
  height: 20px;
  margin-right: 110px;
}

.nav_link{
  font-size: 13px;
  font-weight: 600;
  color: #eee;
  letter-spacing: .5px;
  margin: 15px 5px;
}


.nav_link.active{
  color: rgb(236, 233, 11);
}

.nav_link:after{
    content: '';
    width: 80%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 10%;
    bottom: -10px;
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s;
}


@media (max-width: 750px) {
  .nav {
    font-size: 18px;
    width: 80%;
  }
}

@media (max-width: 400px) {
  .nav {
    font-size: 18px;
    width: 80%;
    justify-content: space-around;
  }
}
