.footer {
  height: 250px;
  background-color: rgb(63, 141, 187);
  padding-top: 50px;
}

.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  flex-wrap: nowrap;
  text-align: center;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  flex-wrap: wrap;
  border: 1px solid;
  box-sizing:border-box;
}

.name {
  margin-top: 0px;
}

.politics {
  margin-bottom: 0px;
}

@media (max-width: 361px) {
  .social {
    justify-content: space-between;
  }
}