.footer {
  height: 300px;
  background-color: #0C0C0C;
  padding: 50px 0;
}

.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  flex-wrap: nowrap;
  text-align: center;
  padding-bottom: 35px;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  flex-wrap: wrap;
  box-sizing:border-box;
}

.name {
  padding: 15px 0;
  width: 200px;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1px;
}

.politics {
  color: #999;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}



@media (max-width: 625px) {
  .social {
    width: 100%;
  }
}


@media (max-width: 361px) {
  .social {
    justify-content: space-between;
  }
}
